@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-4">
        <h2><div style="color:orangered">Feel Anxious?</div></h2>
        <p>
            Anxiety disorders are common mental health problems that affect many people. Approximately 25% of the population
            have an anxiety disorder that warrants treatment at some time in their life and up to another 25% have
            less severe anxieties such as fears of spider and snakes.
        </p>
        <p><a class="btn btn-default" href="/Home/Anxious/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><div style="color:dodgerblue">Always Sad?</div></h2>
        <p>
            Depression affects how people think, feel and act. Depression makes it more difficult to manage from day to day
            and interferes with study, work and relationships.The good news is, depression is
            treatable and effective treatments are available.
        </p>
        <p><a class="btn btn-default" href="/Home/Depression/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><div style="color:darkgoldenrod">Problem with Eating?</div></h2>
        <p>
            Many people have problems with their eating. If you do have an eating disorder, it is important to seek help.
            Remember that with support from health professionals, eating disorders can be recovered from.
        </p>
        <p><a class="btn btn-default" href="/Home/Eating/">Learn more &raquo;</a></p>
    </div>
</div>

<h1><div style="color:forestgreen">About Mental Disorders</div></h1>
<p class="lead">
    Mental disorders (or mental illnesses) are conditions that affect your thinking, feeling, mood, and behavior. They may be occasional or long-lasting (chronic). They can affect your ability to relate to others and function each day.</br>Treatment depends on which mental disorder you have and how serious it is. You and your provider will work on a treatment plan just for you. It usually involves some type of therapy. You may also take medicines. Some people also need social support and education on managing their condition.</br>In some cases, you may need more intensive treatment. You may need to go to a psychiatric hospital. This could be because your mental illness is severe. Or it could be because you are at risk of hurting yourself or someone else. In the hospital, you will get counseling, group discussions, and activities with mental health professionals and other patients.
</p>
