@{
    ViewBag.Title = "Anxiety disorders";
}
<h2><div style="color:orangered">Anxiety disorders</div></h2>
<p><a class="btn btn-default" href="/AP_DATA/Create">Quick Appointment &raquo;</a></p>
<h2><div style="color:orangered">About anxiety disorders</div></h2>
<p>Anxiety disorders are a group of mental health problems. They include generalised anxiety disorders, social phobias, specific phobias (for example, agoraphobia and claustrophobia), and panic disorders. Depression is often related to anxiety disorders.</br>
Anxiety disorders are common mental health problems that affect many people. Approximately 25% of the population have an anxiety disorder that warrants treatment at some time in their life and up to another 25% have less severe anxieties such as fears of spider and snakes.</p>
<h2><div style="color:orangered">Not all anxiety is a disorder</div></h2>
<p>Everyone experiences anxiety and fear at times – these are normal and helpful human emotions that help us deal with danger. However, some people experience excessive and irrational anxiety and worries that become ongoing and distressing, and that interfere with their daily lives. This may indicate an anxiety disorder. Often there appears to be no obvious or logical reason for the way the person feels. This may make an anxiety disorder even more worrying to the sufferer.</p>
<h2><div style="color:orangered">Symptoms of anxiety disorders</div></h2>
<p>
    The main features of an anxiety disorder are fears or thoughts that are chronic (constant) and distressing and that interfere with daily living. Other symptoms of an anxiety disorder may include:</br>Panic or anxiety attacks or a fear of these attacks.</br>Physical anxiety reactions – for example trembling, sweating, faintness, rapid heartbeat, difficulties breathing or nausea.</br>Avoidance behaviour – a person may go to extreme lengths to avoid a situation that they think could bring on anxiety or panic.
</p>
<h2><div style="color:orangered">Panic attacks are a common symptom</div></h2>
<p>
    A panic attack is a sudden feeling of intense terror that may occur in certain situations or for no apparent reason. A panic attack does not mean a person is necessarily suffering an anxiety disorder. However, a panic attack is a common feature of each type of anxiety disorder.</br>Symptoms of a panic attack may include:</br>shortness of breath</br>dizziness</br>rapid heartbeat</br>choking</br>nausea.</br>The cause of panic attacks is unknown, but they may be related to a chemical response in the brain, caused by actual threatening or stressful events or by thinking about stressful events. The brain response leads to physiological changes in the body, such as shallow breathing and rapid heartbeat.</br>Panic attacks can be frightening. Some people say they feel like they are going to die or go crazy. People affected by panic attacks may avoid situations in which they think attacks might occur. In some cases, this may lead to the development of other anxiety disorders including agoraphobia.
</p>
<h2><div style="color:orangered">Types of anxiety disorders</div></h2>
<p>
    Anxiety becomes a disorder when it’s irrational, excessive and when it interferes with a person’s ability to function in daily life. Anxiety disorders include:</br>Generalised anxiety disorder</br>Social phobias – fear of social situations</br>Specific phobias – for example a fear of open spaces (agoraphobia) or enclosed spaces (claustrophobia)</br>Panic disorders – frequent and debilitating panic attacks.
</p>
<h2><div style="color:orangered">Recovery is possible with treatment</div></h2>
<p>
    Recovery from an anxiety disorder is possible with the right treatment and support. Effective treatments for anxiety disorders may include:</br>Cognitive behavioural therapy – aims to change patterns of thinking, beliefs and behaviours that may trigger anxiety.</br>Exposure therapy – involves gradually exposing a person to situations that trigger anxiety using a fear hierarchy: this is called systematic desensitisation.</br>Anxiety management and relaxation techniques – for example deep muscle relaxation, meditation, breathing exercises and counselling.</br>Medication – this may include antidepressants and benzodiazepines.
</p>

