@{
    ViewBag.Title = "Appointment";
}
<h2>About mental illness</h2>
<h3>Mental illness is xxxxxxxxxxxxxxxxxxxxxxxxxxxxx and xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</h3>
<h3>You can click on</h3>
<h4> A illness</h4>

<h5>A is xxxxxx </h5>
<li>@Html.ActionLink("See more", "ill_A", "About")</li>
<h4>B illness</h4>
<h5>B is xxxxxx</h5>
<h4>C illness</h4>
<h5>C is xxxxxx</h5>
