@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Plan to set SendGrid here</h3>

<address>
    Monash University<br />
    Suzhou Industry Park<br />
    <abbr title="Phone">P:</abbr>
    777.023.9977
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>