@{
    ViewBag.Title = "Depression";
}

<h2><div style="color:dodgerblue">Depression</div></h2>
<p><a class="btn btn-default" href="/AP_DATA/Create">Quick Appointment &raquo;</a></p>
<h2><div style="color:dodgerblue">Depression is common</div></h2>
<p>In any one year, around one million people in Australia experience depression. One in six women and one in eight men will experience depression at some time in their life. The good news is, depression is treatable and effective treatments are available. The sooner a person with depression seeks support, the sooner they can recover.</p>
<h2><div style="color:dodgerblue">Symptoms of depression</div></h2>
<p>Depression affects how people think, feel and act. Depression makes it more difficult to manage from day to day and interferes with study, work and relationships. A person may be depressed if for more than two weeks they have felt sad, down or miserable most of the time or have lost interest or pleasure in most of their usual activities, and have also experienced several of the signs and symptoms across at least three of the categories in the list below. It’s important to note, everyone experiences some of these symptoms from time to time and it may not necessarily mean a person is depressed. Equally, not every person who is experiencing depression will have all of these symptoms.  </p>
<h2><div style="color:dodgerblue">Causes of depression</div></h2>
<p>While the exact cause of depression isn’t known, a number of things can be associated with its development. Generally, depression does not result from a single event, but from a combination of biological, psychological, social and lifestyle factors.</p>
<h2><div style="color:dodgerblue">Seek support for symptoms of depression</div></h2>
<p>
    Depression is often not recognised and can go on for months or even years if left untreated. It’s important to seek support as early as possible, as the sooner a person gets treatment, the sooner they can recover.</br>Untreated depression can have many negative effects on a person’s life, including serious relationship and family problems, difficulty finding and holding down a job, and drug and alcohol problems.</br>There is no one proven way that people recover from depression. However, there is a range of effective treatments and health professionals who can help people on the road to recovery.</br>There are also many things that people with depression can do for themselves to help them recover and stay well. The important thing is to find the right treatment and the right health professional for a person’s needs.
</p>
