@{
    ViewBag.Title = "Eating disorders";
}

<h2><div style="color:darkgoldenrod">Eating disorders</div></h2>
<p><a class="btn btn-default" href="/AP_DATA/Create">Quick Appointment &raquo;</a></p>
<h2><div style="color:darkgoldenrod">Symptoms of eating disorders</div></h2>
<p>
    There are some warning signs that are common to people with eating disorders. These may include:</br>weight loss, weight gain or weight fluctuation – usually due to dieting, but sometimes from an illness or stressful situation</br>preoccupation with body appearance or weight</br>sensitivity to cold</br>faintness, dizziness and fatigue</br>increased mood changes and irritability</br>social withdrawal</br>anxiety or depression</br>inability to think rationally or concentrate</br>increased interest in preparing food for others</br>obsessive rituals, such as only drinking out of a certain cup</br>eating in secret</br>wearing baggy clothes or changes in clothing style</br>excessive or fluctuating exercise patterns</br>avoidance of social situations involving food</br>frequent excuses not to eat</br>disappearance of large amounts of food from the refrigerator or pantry</br>trips to the bathroom after meals</br>constant and excessive dieting
</p>
<h2><div style="color:darkgoldenrod">Causes of eating disorders</div></h2>
<p>There is no single cause of eating disorders – a number of factors combine to cause them. Social, psychological and biological factors all play a part, in varying degrees, for different people.</p>
<h2><div style="color:darkgoldenrod">If you think you have an eating disorder</div></h2>
<p>
    Many people have problems with their eating. If you do have an eating disorder, it is important to seek help. Remember that with support from health professionals, eating disorders can be recovered from.</br>Getting professional help and support from others is important. Recovery may be slow as you learn to approach food in a more positive way and understand the reasons for your behaviour, but the effort will be worthwhile.
</p>
<h2><div style="color:darkgoldenrod">Treatment and recovery for people with eating disorders</div></h2>
<p>
    Many different forms of therapy are available. It is important to remember that different approaches work for different people. Finding the right approach and early intervention maximises prospects of recovery. Professional help and support from others is important.</br>Because eating disorders affect people physically and mentally, a range of health professionals might be involved in treatment, including:</br>psychiatrists</br>psychologists</br>GPs</br>dietitians</br>social workers</br>nurses</br>dentists.
</p>