@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><div style="color:forestgreen">Welcome to Open Mind</div></h1>
    <p class="lead">
        Take a minute to make an appointment, we are ready to make you relaxed and help you get rid of worries at any time.You can click on these cute buttons below to know something about the current common
        mental illness in advance before we contact you. Prepare to enjoy your beautiful life!
        It won’t take a long time before we receive your invitation.
    </p>
    <p><a href="/AP_DATA/Create" class="btn btn-primary btn-lg">Make an appointment now! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><div style="color:orangered">Feel Anxious?</div></h2>
        <p>
            Anxiety disorders are common mental health problems that affect many people. Approximately 25% of the population
            have an anxiety disorder that warrants treatment at some time in their life and up to another 25% have
            less severe anxieties such as fears of spider and snakes.
        </p>
        <p><a class="btn btn-default" href="/Home/Anxious/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><div style="color:dodgerblue">Always Sad?</div></h2>
        <p>
            Depression affects how people think, feel and act. Depression makes it more difficult to manage from day to day
            and interferes with study, work and relationships.The good news is, depression is
            treatable and effective treatments are available.
        </p>
        <p><a class="btn btn-default" href="/Home/Depression/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><div style="color:darkgoldenrod">Problem with Eating?</div></h2>
        <p>
            Many people have problems with their eating. If you do have an eating disorder, it is important to seek help.
            Remember that with support from health professionals, eating disorders can be recovered from.
        </p>
        <p><a class="btn btn-default" href="/Home/Eating/">Learn more &raquo;</a></p>
    </div>
</div>